.myapp {

    padding-right: 28px;

    .inline-grid {
        display: inline-grid;
        width: 75%;

        button {
            margin-top: 10px;
            color: var(--iav-blue4);
        }
    }

    .location {
        height: 100%;
        width: 100%;

        .map {
            height: 100%;
            width: 100%;
        }
    }

    .transaction-listing {
        padding-left: 16px;
        margin-bottom: 4px;
        display: flex;
        justify-content: space-between;
    }

    .time-picker-container {
        display: flex;
        justify-content: space-between;

        .success {
            margin-top: 5px;
            width: 100px;
            height: 56px;
        }
    }
}